#
# Copyright (c) 2021 - 2023 ZettaScale Technology
#
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License 2.0 which is available at
# http://www.eclipse.org/legal/epl-2.0, or the Apache License, Version 2.0
# which is available at https://www.apache.org/licenses/LICENSE-2.0.
#
# SPDX-License-Identifier: EPL-2.0 OR Apache-2.0
#
# Contributors:
#   ZettaScale Zenoh Team, <zenoh@zettascale.tech>
#
[workspace]
members = [
  "zenoh-flow",
  "zenoh-flow-derive",
  "zenoh-flow-daemon",
  "zfctl",
  "cargo-zenoh-flow",
  "zenoh-flow-plugin",
]

[workspace.package]
version = "0.6.0-dev"
authors = ["ZettaScale Zenoh Team <zenoh@zettascale.tech>"]
categories = ["network-programming"]
description = "Zenoh-Flow: a Zenoh-based data flow programming framework for computations that span from the cloud to the device."
edition = "2021"
homepage = "https://github.com/eclipse-zenoh/zenoh-flow"
license = " EPL-2.0 OR Apache-2.0"
readme = "README.md"
repository = "https://github.com/eclipse-zenoh/zenoh-flow"

[workspace.dependencies]
zenoh = { version = "0.7.2-rc" }
zenoh-sync = { version = "0.7.2-rc" }
zenoh-util = { version = "0.7.2-rc" }
zenoh-collections = { version = "0.7.2-rc" }
zenoh-core = { version = "0.7.2-rc" }
zenoh-ext = { version = "0.7.2-rc" }
zenoh-plugin-trait = { version = "0.7.2-rc", default-features = false }
zrpc = { version = "0.7.0-alpha.1" }
zrpc-macros = { version = "0.7.0-alpha.1" }


[profile.dev]
debug=true
opt-level = 0


[profile.release]
debug=true
lto="fat"
codegen-units=1
opt-level=3
panic="abort"
